.nav-btn {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.header-container-about {
    display: flex;
    justify-content: center;
    border-bottom: 20px solid gray;
    color: rgb(53, 66, 57);
    background-color: rgb(156, 168, 179);
}
.header-about {
    background-image: url('../robin/CG.PNG');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 10%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin: 100px 10px;
}
.header-about-title {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}
.header-about-info {
    display: flex;
    justify-content: center;
    margin: 15px;
}

/* BODY */
.body-container-about {
    display: flex;
    justify-content: center;
    border-bottom: 20px solid gray;
}
.body-about-one {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    padding: 10px;
}
.body-about-one {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color: rgb(62, 62, 173);
    padding-left: 80px;
}

/* FOOTER */
.footer-container-about {
    display: flex;
    justify-content: center;
    border-bottom: 20px solid gray;
    color: rgb(39, 118, 30);
}
.footer-about {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 300px;
    margin: 100px 10px;
}
.footer-about-title {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}
.footer-about-info {
    display: flex;
    justify-content: center;
    margin: 15px;
}