@font-face {
  font-family: "San FranciscoT";
  src: local("San FranciscoT"),
    url(../fonts/SFPro/TrueType/SFProDisplay-Thin.ttf) format("truetype");
}

.page-nav-container {
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(76, 76, 76);
  height: 30px;
  width: 100%;
  align-items: center;
}
.page-nav-btn {
  font-family: "San FranciscoT", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  display: flex;
  justify-content: left;
  font-size: 15px;
  color: rgb(214, 214, 214);
  transform: translate(25.5%);
}

.nav-btn-about {
  display: flex;
}

.nav-btn-login {
  display: flex;
}

.welcome {
<<<<<<< HEAD
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-top: 10px;
=======
  font-family: San FranciscoT;
  align-self: center;
left: 40%;
transform: translate(-100%);
position: relative;
>>>>>>> main
}

.nav-btn-about,
.nav-btn-login {
  color: rgb(255, 255, 255);
  padding: 10px;
}
<<<<<<< HEAD

/* a:-webkit-any-link {
  color: rgb(255, 255, 255);
  padding: 10px;
}

a:-moz-any-link {
  color: rgb(255, 255, 255);
  padding: 10px;
} */
=======
.page-nav-btn0 {
  font-family: San FranciscoT;
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: rgb(214, 214, 214);
}
>>>>>>> main
