body{
    background: black;
    display: flex;
    flex-direction: column;
    color:white;
}

.header {
    background-color: black;
    flex-direction:row;
}

.introBox{
    border: 1px solid white;
}