@font-face {
  font-family: 'Lobster';
  src: local('Lobster'), url(./fonts/Lobster-Regular.ttf) format('truetype');
}
@font-face {
font-family: 'PressStart2P';
src: local('PressStart2P'), url(./fonts/PressStart2P-Regular.ttf) format('truetype');
}


body,
html,
main {
  background: black;
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  margin: 0;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  z-index: 1;
  background: white;
  transform-origin: 0%;
}
.header {
  top: 0px;
  position: fixed;
  justify-content: center;
  background-color: rgb(36, 37, 41);
  height: 53px;
  display: flex;
  z-index: 1;
  flex-direction: row;
  min-width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  align-items:center;
  position: fixed;  /* stay on the top */
  top: 50px;        /* stay on the top */
}
.CG {
  padding-right: 20px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.title {
  padding-right: 5%;
}
.login {
  background-color: #214079;
}

.innerApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introBox {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-image: radial-gradient(rgb(36, 37, 41), rgba(36, 37, 41, 0.566), rgba(0, 0, 0, 0));
  border-radius: 10px;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 100px;
}


.introImage{
  /* height: clamp(50%, auto, 800px); */
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.introText{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introCopy{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  width: 70%;
  color: rgba(255, 255, 255, 0.57);
  text-align: center;
}

.textMid{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.82);
}

.textEnd{
  font-size: 23px;
}

.codeGhosts{
  font-family: Lobster;
  font-size: 160px;
  background: -webkit-radial-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image {
  height: auto;
  max-width: 100%;
  position: relative;
  padding: -20%;
}

.gRobin{
  transform: translate(20%, 0%);
}

.gDaeyeon{
  transform: translate(10%, 0%);
}


.gJeremy{
  transform: translate(-10%, 0%);
}

.gGage{
  transform: translate(-20%, 0%);
}

.cgBig{
  position: fixed;
  opacity: .5;
  bottom: 0;
  height: auto;
  max-width: 50%;
}

.sqlBox {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.sqlSubBox {
  margin-right: 10px;
  border-radius: 10px;
  background-color: rgb(36, 37, 41);
  height: clamp(20px, 5vw, 40px);
  border: 1px solid white;
  width: clamp(90px, 15.25vw, 200px);
  height: 500px;
}

/* ////////////////////////////// Gage's playground */
.formFooter {
  height: 5%;
  width: 100%;
  background: #1d1d1f;
  color: #d2d2d7;
  font: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.contactUs {
  margin-top: 0.7%;
}

.contactUs:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.labelContainer {
  overflow: hidden;
  width: 50vh;
}

.xButton {
  float: right;
  background-color: #1d1d1f;
  color: #d2d2d7;
  border-radius: 50%;
}

.xButton:hover,
.submit:hover {
  background-color: #fff;
  color: black;
}

.submit,
.select {
  font: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  width: 50vh;
  margin-top: 1%;
  color: #d2d2d7;
  border-radius: 5px;
  background: #1d1d1f;
}

.contactUs,
.submit {
  margin-bottom: 10px;
}

.email,
.subject,
.message {
  font: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #d2d2d7;
  border-radius: 5px;
  background: #1d1d1f;
  width: 49vh;
  margin-top: 1%;
}

textarea {
  resize: none;
}

.profileContainer {
  display: grid;
  flex-direction: column;
  content: contain;
  padding-left: 15%;
  padding-right: 15%;
  width: 70%;
}

.daeyeonProfile,
.gageProfile,
.jeremyProfile,
.robinProfile {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 400px;
  border-radius: 30px;
}



.daeyeonProfile {
  background-image: linear-gradient(
    30deg,
    #214079 1%,
    #663a7e 1%,
    #a82b7d 100%
  );
  overflow: hidden;
}

.gageProfile {
  border: 1px solid #663a7e;
}

.backgroundGif {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 30px;
  background-image: url(./assets/coding.gif);
  opacity: 0.7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profileHeader {

  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 30px;
  font-size: 21px;
  font-family: Lobster;
  color: rgb(239, 237, 237);
}

@media (max-width: 700px) {
  .profilePicture {
    display: none;
  }
}

.profilePicture {
  height: auto;
  width: 20vh;
  align-self: center;
  transition:.3s;
}

.profileContent {
  display: flex;
  flex-direction: column;
  font-family: "PressStart2P";
  font-size: 30px;
  padding: 20px
}




.robinProfile{
  background-image: linear-gradient(rgba(0, 173, 147, 0.87), rgb(0, 0, 0));
}

.profileText{
  font-size: 20px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.profileUH{
  display: flex;
  flex-direction: row;
}

.profileUH:hover{
    color: white;
}

.hJeremy{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: auto;
  width: 20vh;
  align-self: center;
}

.hRobin:hover{
  scale:1.5;
  transition:1s;
};