@font-face {
  font-family: "Lobster";
  src: local("Lobster"), url(./fonts/Lobster-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "San Francisco";
  src: local("San Francisco"),
    url(./fonts/SFPro/TrueType/SFProDisplay-Semibold.ttf) format("truetype");
}

body,
html,
main {
  background: black;
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  margin: 0;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  z-index: 1;
  background: white;
  transform-origin: 0%;
}

.header {
  top: 30px;
  position: fixed;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  border-bottom: .5px solid white;
  height: 40px;
  display: flex;
  z-index: 1;
  flex-direction: row;
  min-width: 100vw;
  align-items: center;
}

.CG {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.title {
  padding-right: 5%;
}

.login {
  background-color: #214079;
}

.innerApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introBox {
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(
    rgb(36, 37, 41),
    rgba(36, 37, 41, 0.566),
    rgba(0, 0, 0, 0)
  );
  padding-top: 100px;
}

.introImage {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-top: 100px;
}

.introText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introCopy {
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  font-size: 23px;
  width: 70%;
  color: rgba(255, 255, 255, 0.57);
  text-align: center;
}

.textMid {
  font-size: 30px;
  color: rgb(255, 255, 255);
  padding-top: 70px;
}

.codeGhosts {
  font-family: Lobster;
  font-size: 160px;
  background: -webkit-radial-gradient(rgb(255, 255, 255), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image {
  height: auto;
  max-width: 100%;
  position: relative;
  padding: -20%;
}

.gRobin {
  transform: translate(30%, 0%);
}

.gDaeyeon {
  transform: translate(10%, 0%);
}

.gJeremy {
  transform: translate(-10%, 0%);
}

.gGage {
  transform: translate(-20%, 0%);
}

.gJeremy {
  transform: translate(-5%, 0%);
  scale: 1.1;
}

.gGage {
  transform: translate(-30%, 0%);
}

.cgBig {
  position: fixed;
  opacity: 0.5;
  bottom: 0;
  height: auto;
  max-width: 50%;
}

.sqlBox {
  background: #1d1d1f;
  justify-content: center;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0%);
  max-width: 1200px;
  transition: 0.3s;
  height: auto;
  border-radius: 30px;


}

.sqlBoxTitle {
  height: auto;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  position: relative;
  /* top: 0px; */
  contain: content;
  text-align: center;
  /* margin-bottom: 5%; */
  
}

.sqlBoxTitleText {
  margin-top: 10%;
  color: #f5f5f7;
  font-size: 40px;
  line-height: 1.08349;
  letter-spacing: -0.003em;
  font-family: "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.sqlSubBoxContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3%;
}

.sqlSubBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vh;
  height: 100%;
background-color: rgb(0, 0, 0);
  border-radius: 30px;
  margin: .1%;
}

.sqlSubBoxPic {
  margin-top: 20px;
  position: relative;
left:50%;
transform: translate(-50%);
  width: 70%;
  max-width: 1200px;
  width: 50%;
  border-radius: 50%;
}

.sqlBoxName {
  text-align: center;
  font-size: 21px;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #f5f5f7;
  font-family: "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p.bulletPoint {
  font-size: 14px;
  color: #f5f5f7;
  font-family: "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
}

p.bulletPointLesser {
  font-size: 14px;
  color: #f5f5f7;
  font-family: San FranciscoT;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
}

a.button {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
  font-size: 12px;
  color: #f5f5f7;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  text-decoration: none;
  min-width: 23px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  background: #0071e3;
}

a:visited {
  text-decoration: none;
  color: #f5f5f7;
}

/* ////////////////////////////// Gage's playground */
.formFooter {
  height: 5%;
  width: 100%;
  background: #1d1d1f;
  color: #d2d2d7;
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial";
  font-size: 15px;
  font-weight: 400;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.contactUs {
  margin-top: 0.7%;
}

.contactUs:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  width: 60vh;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 5%;
  background-color: #1d1d1f;
  border-radius: 30px;
}

.labelContainer {
  overflow: hidden;
  width: 50vh;
  margin-top: 3%;
  margin-left: 8%;
}

.xButton {
  margin-top: 0%;
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  float: right;
  background-color: #1d1d1f;
  color: #d2d2d7;
  border-radius: 30px;
}

.xButton:hover,
.submit:hover {
  color: #f5f5f7;
  background-color: #0071e3;
}

.submit,
.select {
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial";
  font-size: 15px;
  font-weight: 400;
  width: 50vh;
  margin-top: 1%;
  color: #d2d2d7;
  border-radius: 5px;
  background: #1d1d1f;
  margin-left: 8%;
  margin-right: 8%;
}

.contactUs {
  margin-bottom: 10px;
  transition: 0.3s;
}
.submit {
  margin-bottom: 4%;
}

.email,
.subject,
.message {
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial";
  font-size: 15px;
  font-weight: 400;
  color: #d2d2d7;
  border-radius: 5px;
  background: #1d1d1f;
  width: 49vh;
  margin-top: 1%;
  margin-left: 4.5%;
  margin-right: 4.5%;
  transition: 0.3s;
}

textarea {
  resize: none;
}

.profileContainer {
  content: contain;
  padding: 25px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 1200px;
  transition: 0.3s;
}

.daeyeonProfile,
.gageProfile,
.jeremyProfile,
.robinProfile {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 400px;
  border-radius: 30px;
  transition: 0.3s;
}

.daeyeonProfile {
  background-image: linear-gradient(
    30deg,
    #214079 1%,
    #663a7e 1%,
    #a82b7d 100%
  );
  overflow: hidden;
  transition: 0.3s;
}

.gageProfile {
  background-color: rgba(116, 159, 197, 0.741);
  transition: 0.3s;
}

.backgroundGif {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 30px;
  background-image: url(./assets/coding.gif);
  opacity: 0.7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profileHeader {
  position: relative;
  padding: 30px;
  font-size: 21px;
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial";
  color: rgb(239, 237, 237);
  transition: 0.3s;
}

@media (max-width: 700px) {
  .profilePicture {
    display: none;
  }
}

.profilePicture {
  position: relative;
  height: auto;
  width: 20vh;
  align-self: center;
  transition: 0.3s;
}

.profileContent {
  position: relative;
  max-width: 80%;
  min-width: 350px;
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial";
  margin-left: 30px;
  margin-right: 30px;
  font-size: clamp(1.875rem, 1.0417rem + 4.4444vw, 9.375rem);
  text-align: center;
  transition: 0.3s;
}

.robinProfile {
  background-image: linear-gradient(rgba(0, 173, 147, 0.87), rgb(0, 0, 0));
}

.robinProfile {
  background-image: linear-gradient(rgb(1, 41, 6), rgb(0, 24, 6));
  transition: 0.3s;
}

.jeremyProfile {
  background: linear-gradient(
    225deg,
    #1623a6 0%,
    #3343d4 29%,
    #175eac 73%,
    #176682 100%
  );
  transition: 0.3s;
}

.rHeader {
  display: flex;
  justify-content: right;
  padding-right: 50px;
  transition: 0.3s;
}

.rPC {
  background: -webkit-linear-gradient(white 1%, rgb(9, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profileUH {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: 0.3s;
}

.profileUH:hover {
  color: white;
}

.hJeremy {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: auto;
  width: 20vh;
  align-self: center;
  transition: 0.3s;
}

.hRobin:hover {
  scale: 1.5;
  transition: 1s;
}

.jPC {
  color: rgb(165, 183, 206);
}

.outerMessageContainer {
  padding-top: 5%;
  padding-bottom: 5%;
}

.messageContainer {
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial";
  display: flex;
  flex-direction: column;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    25deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(104, 9, 121, 1) 54%,
    rgba(91, 0, 255, 1) 100%
  );
  overflow: hidden;
  position: relative;
  margin-top: 4vh;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  height: 300px;
  border-radius: 30px;
  transition: 0.3s;
}

.messageDate {
  width: 100%;
  height: 10%;
  text-align: center;
  margin-top: 1%;
}

.messageFrom {
  width: 100%;
  height: 10%;
  text-align: center;
}

.messageSubject {
  width: 100%;
  height: 10%;
  text-align: center;
  margin-bottom: 1%;
}

.messageMessage {
  height: 70%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  overflow: scroll;
}

.messagesFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background-color: #1d1d1f;
}
